        body{
            background-color: rgb(238, 255, 0) ;
        }
        
        /* # ------- refers to id 
        . ------- refers to class */

        #First{
            background-color: blue;
        }
        .bg-blue{
            background-color: chartreuse;
            color: cornsilk;
        }

